<div class="container">
  <h3>Employee form</h3>
  <form #form="ngForm" nonvalidate>
    <div class="form-group">
        <label>First name &nbsp;</label>
        <input type="text" #firstName="ngModel" required class="form-control" name="firstName" 
        [(ngModel)]="model.firstName">
        <div *ngIf="firstName.invalid" class="alert alert-danger">
          First Name is required. 
        </div>
        {{firstName.invalid}}
    </div>
    <div class="form-group">
      <label>Last name &nbsp;</label>
      <input type="text" class="form-control" name="lastName" 
      [(ngModel)]="model.lastName">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="isFullTime" [(ngModel)]="model.isFullTime"> Full time</label>
    </div>
    <label>Payment type</label>
    <div class="radio">
      <label><input type="radio" name="paymentType" value="w2" checked
              [(ngModel)]="model.paymentType">W2</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="paymentType" value="1099"
                [(ngModel)]="model.paymentType">1099</label>
    </div>
    <div class="form-group">
      <label>Primary languages</label>
      <select class="form-control">
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Ok</button>
  </form>
</div>

Model: {{model|json}}
<br>
Angular: {{form.value|json}}